<div class="sidebar pure-u-1 pure-u-md-1-5" style="text-align: center">
    <div class="header">
        <h2 class="brand-title">
            <a href="../"><i class="fas fa-home"></i> Gabriela Moreira</a>
        </h2>
    </div>
    <div class="centered">
        <h1 class="huge"><i class="fas fa-folder-open"></i></h1>
        <h1 class="huge"><a href="./">MFO</a></h1>
        <h2 class="brand-title">Métodos Formais</h2>
        <h2 class="brand-tagline">Materiais da disciplina</h2>
    </div>
    {{:include "footer.html"}}
</div>
